'use strict';

angular
.module('demandwareAngularSeedApp')
.constant('CONFIG', {
	'app': {
		'title': 'Demo Shop'
	},
	'demandware': {
		'baseUrl': 'base-url',
		'publicSiteUrl': 'public-site-url'
		'apiVersion': '14.8',
		'clientId': 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
	}
});
